/* --------------------- fontLinks part start --------------------  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* --------------------- fontLinks part end ----------------------- */
/* --------------------- common css part start --------------------  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,ul,ol,p{
    margin: 0;
}
:root{
    --ubuntu:"Ubuntu", sans-serif;
    --brand_color:#42454A

}
/* --------------------- common css part end ----------------------- */
/* --------------------- navbar part start --------------------  */

.main_menu{
    padding: 26px 0;
    border-bottom:1px solid #EAE8F3 ;
}
.main_menu .logo {
    width: 70px;
}
.main_menu ul{
    gap: 75px;
}
.main_menu ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brand_color) !important;
}
.main_menu .menu_buttons{
    display: flex;
    gap: 24px;
}
.main_menu .menu_buttons a{
    border-radius: 4px;
    background: var(--brand_color);
    padding: 16px 26px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: #fff;
    transition: all linear .5s;
}
.main_menu .menu_buttons a:hover{
    background: #fff;
    color: var(--brand_color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* --------------------- navbar part end ----------------------- */
/* --------------------- banner part start --------------------  */
#banner{
    position: relative;
}
.banner_text h1{
    width: 586px;
    font-size: 90px;
    font-weight: 300;
    font-family: var(--ubuntu);
    color: var(--brand_color);
    text-transform: uppercase;
    margin-top: 84px;
}
.banner_text h1 span{
    font-weight: 700;
}
.bannerLine{
    width: 335px;
    height: 4px;
    background: var(--brand_color);
    display: inline-block;
    margin-top: 93px;
}
.banner_text p{
    width: 353px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brand_color);
    margin-top: 62px;
}

/* From Uiverse.io by vinodjangid07 */ 
.bookmarkBtn {
    width: 162px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    background: transparent;
    position: relative;
  }
  
  .IconContainer {
    width: 58px;
    height: 58px;
    background: var(--brand_color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
    color: #F7EAE3 ;
  }

  .text {
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand_color);
    z-index: 1;
    transition-duration: 0.3s;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 162px;
    transition-duration: 0.3s;
    justify-content: start;
    padding-left: 17px;
  }
  
  .bookmarkBtn:hover .text {
    position: absolute;
    color: #fff;
    z-index: 99;
    right: 10px;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
  }
  .banner_buttons{
    display: flex;
    gap: 50px;
  }
  .banner_buttons .videoP{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--ubuntu);
    color: #414449;
    width: 87px;
    margin-top: 0;
  }

  .banner_buttons a{
    animation: ghoro linear infinite 3s;
  }

  @keyframes ghoro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }
  .banner_image {
    width: 856px;
    position:absolute;
    top: 0;
    right: 0;
  }
  

/* --------------------- banner part end ----------------------- */
/* --------------------- counter part start --------------------  */


.counter_singel_box{
    width: 174px;
    height: 137px;
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}
.counter_singel_box h2{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brand_color);
}
.counter_singel_box  h2 span{
    font-size: 40px;
}
.counter_singel_box  p{
    font-size: 13px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brand_color);
}

/* --------------------- counter part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */
/* --------------------- fontLinks part start --------------------  */

/* --------------------- fontLinks part end ----------------------- */